# виртуальное окружение
venv/
.venv/

# pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# локальные настройки
local_doc/
.env
bot_secrets.py

# sqlite (если будет для Django)
*.sqlite3
db.sqlite3