# виртуальное окружение
venv/
.venv/

# pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# локальные настройки
.env
bot_secrets.py
*.txt
Работа с Git.md
Работа с Git в PyCharm.md
Работа с GitHub.md

# sqlite (если будет для Django)
*.sqlite3
db.sqlite3
